/* add custom font imports here */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* add your own manual css definitions here */
:root {
	/* --test: #175070; */
	/* use as [color:var(--test)] */
}

.small-caps {
	font-variant-caps: small-caps;
}

.text-shadow { text-shadow: 0 2px 4px rgba(0,0,0,0.10); }
.text-shadow-md { text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08); }
.text-shadow-lg { text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08); }
.text-shadow-xl { text-shadow: 0 10px 50px rgba(0,0,0,0.21), 0 5px 20px rgba(0,0,0,0.18); }
.text-shadow-none { text-shadow: none; }

.mainpaddingx-wide { @apply px-3 xs:px-6 smm:px-12 mdd:px-16 xl:px-24 }
.mainpaddingx { @apply px-3 xs:px-6 smm:px-12 mdd:px-[calc((100vw-900px)/2+3rem)] }
.mainpaddingx-remove { @apply -mx-3 xs:-mx-6 smm:-mx-12 mdd:-mx-[calc((100vw-900px)/2+3rem)] }
.right-mainpaddingx { @apply right-3 xs:right-6 smm:right-12 mdd:right-16 xl:right-24 }
.right-sm-mainpaddingx { @apply sm:right-12 mdd:right-16 xl:right-24 }
.mainarea-p0 { @apply min-h-[calc(100vh-(10rem+4.5rem+52rem)/4)] sm:min-h-[calc(100vh-(10rem+4.5rem+28rem)/4)] lg:min-h-[calc(100vh-(10rem+4.5rem+12rem)/4)] bg-slate-200 -mt-1.5 }
.mainarea { @apply mainarea-p0 mainpaddingx py-6 }
.mainarea-wide { @apply mainarea-p0 mainpaddingx-wide py-6 }

.footer:hover a span { @apply underline }
.footer a:hover { @apply text-white }
/* .footer a:hover div { @apply shadow-inner-md } */
.footer a span, .footer a { @apply transition ease-in-out duration-200 }
.footer > div:first-child:hover ~ a { @apply text-white }

.backlink { @apply absolute pb-3 pt-7 w-full mainpaddingx z-10 text-white text-opacity-60 hover:text-opacity-100 uppercase text-base bg-black tracking-wider bg-opacity-0 hover:bg-opacity-25 }

.cardgrid { @apply mt-8 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 }
/* with md:navigation on left third:
sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 */
.card { @apply bg-white rounded-lg overflow-hidden shadow-lg relative hover:shadow-xl hover:text-black hover:scale-102 transform transition ease-in-out duration-150 break-inside-avoid hover:bg-white }
.card > img:first-child { @apply w-full h-32 sm:h-48 object-cover overflow-hidden transform transition ease-in-out duration-150 shadow-inner }
.card:hover > img:first-child { @apply brightness-105 }
.card > div:first-of-type { @apply p-4 pt-2 h-full !bg-opacity-0 }
.card:hover > div { @apply bg-opacity-0 }
.card > div span:first-of-type { @apply font-bold }
.card:hover > div span:first-of-type { @apply text-black }
.card > div span:last-of-type { @apply block text-gray-500 text-sm italic }

.pagetitle { @apply border-slate-400 border-b text-primary-700 text-opacity-80 text-5xl font-semibold mb-5 pb-1 small-caps }

.text > p {
	@apply mb-4
}

.badge, .hiddenbadge { @apply text-white bg-gray-800 text-xs font-bold rounded-br-lg !p-2 !pt-1 absolute top-0 max-h-6 shadow-sm opacity-70 transition ease-in-out duration-150 !bg-opacity-100 }
.hiddenbadge { @apply opacity-0 }
div:hover > .hiddenbadge { opacity: 0.8 !important}
.button { @apply rounded-full py-2 px-3 uppercase font-bold cursor-pointer tracking-wider hover:bg-red-200 transition ease-out duration-150 transform hover:scale-125 }
.main-button { @apply w-auto text-lg text-center font-bold rounded-full py-2 px-3 cursor-pointer tracking-wide bg-primary-500 hover:bg-primary-600 text-slate-100 transition ease-out duration-150 transform hover:scale-101 shadow-md hover:shadow-xl }