/* add custom font imports here */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* add your own manual css definitions here */
:root {
	/* --test: #175070; */
	/* use as [color:var(--test)] */
}

.small-caps {
	font-variant-caps: small-caps;
}

.cardgrid { @apply mt-8 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 }
/* with md:navigation on left third:
sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 */
.card { @apply bg-white rounded-lg overflow-hidden shadow-lg relative hover:shadow-xl hover:text-black hover:scale-102 transform transition ease-in-out duration-150 break-inside-avoid hover:bg-white }
.card > img:first-child { @apply w-full h-32 sm:h-48 object-cover overflow-hidden transform transition ease-in-out duration-150 shadow-inner }
.card:hover > img:first-child { @apply brightness-105 }
.card > div:first-of-type { @apply p-4 pt-2 h-full !bg-opacity-0 }
.card:hover > div { @apply bg-opacity-0 }
.card > div span:first-of-type { @apply font-bold }
.card:hover > div span:first-of-type { @apply text-black }
.card > div span:last-of-type { @apply block text-gray-500 text-sm italic }

.badge, .hiddenbadge { @apply text-white bg-gray-800 text-xs font-bold rounded-br-lg !p-2 !pt-1 absolute top-0 max-h-6 shadow-sm opacity-70 transition ease-in-out duration-150 !bg-opacity-100 }
.hiddenbadge { @apply opacity-0 }
div:hover > .hiddenbadge { opacity: 0.8 !important}
.button { @apply rounded-full py-2 px-3 uppercase font-bold cursor-pointer tracking-wider hover:bg-red-200 transition ease-out duration-150 transform hover:scale-125 }
.main-button { @apply w-auto text-lg text-center font-bold rounded-full py-2 px-3 cursor-pointer tracking-wide bg-remindful-500 hover:bg-remindful-600 text-slate-100 transition ease-out duration-150 transform hover:scale-101 shadow-md hover:shadow-xl }